<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">root</property>
    <mapping resource="DBClasses/Cardusage.hbm.xml"/>
    <mapping resource="DBClasses/Itemprice.hbm.xml"/>
    <mapping resource="DBClasses/Product.hbm.xml"/>
    <mapping resource="DBClasses/Addresses.hbm.xml"/>
    <mapping resource="DBClasses/Productitem.hbm.xml"/>
    <mapping resource="DBClasses/Boughtitem.hbm.xml"/>
    <mapping resource="DBClasses/Charges.hbm.xml"/>
    <mapping resource="DBClasses/Clients.hbm.xml"/>
    <mapping resource="DBClasses/Users.hbm.xml"/>
    <mapping resource="DBClasses/Attraction.hbm.xml"/>
    <mapping resource="DBClasses/Pricelist.hbm.xml"/>
    <mapping resource="DBClasses/Cards.hbm.xml"/>
    <mapping resource="DBClasses/Employees.hbm.xml"/>
    <mapping resource="DBClasses/Terminal.hbm.xml"/>
    <mapping resource="DBClasses/Transactions.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
